extends layout

block content
	.jumbotron
		.container
			h1 Welcome to OSMTools!
			p OSMTools is designed to help you make the most of the OSM platform. We provide extra tools in order to harness the power of OSM.
